* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
    font-family: 'Cinzel', serif;
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    margin-top: calc(var(--index) / 1.25);
    transform: var(--main-article-transform);
    transition: var(--transition);
    will-change: transform;
}
.content {
	will-change: transform;
}

.copy {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 12px;
  }
  



/* Path: BosqueEncantado\ready-html\css\main.css */

.pkmn-section {
	display: flex;
	flex-direction: row;
	height: 100vh;
  }
  
  .pkmn-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .pkmn-image img {
	max-width: 100%;
	max-height: 100%;
  }
  
  .pkmn-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
  }

/* Path: BosqueEncantado\ready-html\css\main.css */

.pokemon {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.pokemon img {
	flex: 1;
	height: 450px;
	object-fit: contain;
	margin-left: 350px;
}

.pokemon .pokemon-info {
	flex: 2;
	padding: 20px;
	color: white;
	text-align: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.pokemon h3 {
	margin: 0;
	text-transform: capitalize;
	color: white;
}

.pokemon p {
	margin: 5px 0;
	color: white;
	text-align: left;
}

.fuego {
	background-color: red;
}

.agua {
	background-color: blue;
}

.planta {
	background-color: green;
}

.veneno {
	background-color: purple;
}

.bicho {
	background-color: #A8B820;
}

.electrico {
	background-color: #F8D030;
}

.normal {
	background-color: #A8A878;
}

.lucha {
	background-color: #C03028;
}

.psiquico {
	background-color: #F85888;
}

.roca {
	background-color: #B8A038;
}

.tierra {
	background-color: #E0C068;
}

.fantasma {
	background-color: #705898;
}

.volador {
	background-color: #A890F0;
}

.acero {
	background-color: #B8B8D0;
}

.hielo {
	background-color: #98D8D8;
}

.dragon {
	background-color: #7038F8;
}

.siniestro {
	background-color: #705848;
}

.hada {
	background-color: #EE99AC;
}

/* Agrega aquí más tipos de Pokémon y sus colores correspondientes */

/* Combinaciones de colores para los tipos de Pokémon */

.fuego.agua, .agua.fuego {
	background: linear-gradient(to right, red, blue);
}

.planta.veneno, .veneno.planta {
	background: linear-gradient(to right, green, purple);
}

.fuego.planta, .planta.fuego {
	background: linear-gradient(to right, red, green);
}

.fuego.veneno, .veneno.fuego {
	background: linear-gradient(to right, red, purple);
}

.fuego.bicho, .bicho.fuego {
	background: linear-gradient(to right, red, #A8B820);
}

.fuego.electrico, .electrico.fuego {
	background: linear-gradient(to right, red, #F8D030);
}

.fuego.normal, .normal.fuego {
	background: linear-gradient(to right, red, #A8A878);
}

.fuego.lucha, .lucha.fuego {
	background: linear-gradient(to right, red, #C03028);
}

.fuego.psiquico, .psiquico.fuego {
	background: linear-gradient(to right, red, #F85888);
}

.fuego.roca, .roca.fuego {
	background: linear-gradient(to right, red, #B8A038);
}

.fuego.tierra, .tierra.fuego {
	background: linear-gradient(to right, red, #E0C068);
}

.fuego.fantasma, .fantasma.fuego {
	background: linear-gradient(to right, red, #705898);
}

@/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
	/* Ajusta los estilos del encabezado principal */
	.main-header {
	  padding: 60px 0;
	}
  
	.layers__caption {
	  font-size: 48px;
	}
  
	.layers__title {
	  font-size: 72px;
	}
  
	/* Ajusta el tamaño del texto en el artículo principal */
	.main-article__header {
	  font-size: 36px;
	}
  
	.main-article__paragraph {
	  font-size: 24px;
	}
  }
  
  /* Estilos para pantallas medianas */
  @media (max-width: 1023px) {
	/* Ajusta los estilos del encabezado principal */
	.main-header {
	  padding: 40px 0;
	}
  
	.layers__caption {
	  font-size: 36px;
	}
  
	.layers__title {
	  font-size: 54px;
	}
  
	/* Ajusta el tamaño del texto en el artículo principal */
	.main-article__header {
	  font-size: 28px;
	}
  
	.main-article__paragraph {
	  font-size: 18px;
	}
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 767px) {
	/* Ajusta los estilos del encabezado principal */
	.main-header {
	  padding: 20px 0;
	}
  
	.layers__caption {
	  font-size: 24px;
	}
  
	.layers__title {
	  font-size: 36px;
	}
  
	/* Ajusta el tamaño del texto en el artículo principal */
	.main-article__header {
	  font-size: 18px;
	}
  
	.main-article__paragraph {
	  font-size: 14px;
	}
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 480px) {
	/* Ajusta los estilos del encabezado principal */
	.main-header {
	  padding: 10px 0;
	}
  
	.layers__caption {
	  font-size: 18px;
	}
  
	.layers__title {
	  font-size: 24px;
	}
  
	/* Ajusta el tamaño del texto en el artículo principal */
	.main-article__header {
	  font-size: 16px;
	}
  
	.main-article__paragraph {
	  font-size: 12px;
	}
  }
  
  /* Estilos adicionales para pantallas pequeñas y orientación vertical */
  @media (max-width: 767px) and (orientation: portrait) {
	/* Ajusta el tamaño del texto en el encabezado principal */
	.layers__caption {
	  font-size: 18px;
	}
  
	.layers__title {
	  font-size: 24px;
	}
  
	/* Ajusta el tamaño del texto en el artículo principal */
	.main-article__header {
	  font-size: 16px;
	}
  
	.main-article__paragraph {
	  font-size: 12px;
	}
  }